.animation{
    transition: all  .25s  ease-in;
    width: 1000px;
    margin:0 auto;
}

.animation:hover{
    transform:translateY(-5px);
    background: lightgrey;
}

.animation img{
    width: 500px;
    height: auto;
}

@-webkit-keyframes fade {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        -moz-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
        -o-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,10,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}
.fade{
    animation-name: fadeInLeft;
    -webkit-animation-name: fade;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

.dontShow{
    transform: translateX(-100%);
}