/*鼠标移入，向上移动8个像素*/
.div1:hover{
	 transform:translateY(-8px);
}
.div1 {
   width:100px;
   height:80px;
   line-height: 80px;
   /*动画的过渡效果*/
   transition: all  .25s  ease-in;
   border:0;
   margin:10px;
   background-color: white;
   float: left;
   font-size: 12px;
   text-align: center;
}
